<div class="container my-3 row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <img class="img-fluid" src="{{phone.image}}" />
  </div>
  <div class="col">
    <h2>{{phone.name}}</h2>
    <p><a href="/manufacturers/{{phone.manufacturer._id}}">{{phone.manufacturer.name}}</a></p>
    <p class="text-danger fs-2 fw-bold">{{phone.price}}€</p>
    <p class="fw-bold mt-5">Sobre este producto</p>
    <p>{{phone.description}}</p>
    <a class="btn btn-primary" href="/smartphones/{{phone._id}}/edit">Editar este producto</a>
  </div>

</div>