<div class="container my-3">
  <h1>
    {{#if isEdit}}
      Edita este producto
    {{else}}
      Crea un nuevo smartphone
    {{/if}}
  </h1>

  {{#if isEdit}}
    <form action="/smartphones/{{phone._id}}" method="POST">
  {{else}}
    <form action="/smartphones" method="POST">
  {{/if}}
    {{> input value=phone.name name="name" label="Nombre del producto" type="text" placeholder="Introduce aquí el nombre" error=errors.name}}
    {{> input value=phone.manufacturer name="manufacturer" label="Fabricante" type="text" placeholder="Introduce aquí del fabricante" error=errors.manufacturer}}
    {{> input value=phone.price name="price" label="Precio" type="number" min="1" error=errors.price}}
    {{> input value=phone.image name="image" label="Imagen del producto" type="text" placeholder="Introduce aquí la URL" error=errors.image}}

    <div class="mb-3">
      <label for="description" class="form-label">Descripción</label>
      <textarea
        name="description"  id="description" rows="3"
        class="form-control {{#if errors.description}}is-invalid{{/if}}"
      >{{phone.description}}</textarea>
      {{#if errors.description}}
        <div class="invalid-feedback">{{errors.description}}</div>
      {{/if}}
    </div>

    <button type="submit" class="btn btn-primary">
      {{#if isEdit}}
        Editar este producto
      {{else}}
        Crear producto
      {{/if}}
    </button>

  </form>
  {{#if isEdit}}
    <form class="mt-3" action="/smartphones/{{phone._id}}/delete" method="POST">
      <button class="btn btn-danger">Borrar este producto</button>
    </form>
  {{/if}}
</div>